body {
    font-family: 'Arial', sans-serif;
}
*::selection{
    background-color: #dab1e4;
}

h1, h2 {
    color: #333;
}
nav.navbar{
    background: #eddeef;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.611); /* Ombre blanche */

}
nav .nav-link{
    font-weight: bold;
}
 /* Styles pour la page d'accueil */
 #home {
    height: 100vh; /* Prend toute la hauteur de l'écran */
    display: flex;
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
    text-align: center;
    background: url('img/background.jpg') no-repeat center center fixed; /* Image de fond */
     background: linear-gradient(rgba(205, 175, 205, 0.437),rgba(209, 162, 210, 0.483)),url('img/background.jpg') no-repeat center center fixed; /* Image de fond */

    color: white; /* Couleur du texte */
}
#home h1 {
    font-size: 6.5rem; /* Taille du texte pour le nom */
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #f8f9fa;
    text-shadow: rgb(109, 108, 101) 1px 0 10px;
}
#home p {
    font-size: 1rem;  /* Taille du texte pour la description */
    text-shadow: rgb(92, 91, 86) 1px 0 10px;

}
/* Taille du texte pour le nom 
#home .parahome {
background-color: rgba(203, 150, 205, 0.325);
padding: 30px;
border-radius: 30px;
}
*/
#formation {
    background-color: #f9f9f9; /* Couleur de fond douce */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Ombre pour un effet de profondeur */
    padding: 2rem; /* Espacement intérieur */
}
h1.mb-4{
    font-weight: bold;
}

.formation-item {
    padding: 20px; /* Espacement intérieur */
    background-color: #e0cae0;
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre pour profondeur */
    transition: transform 0.3s; /* Transition pour effet de survol */
}

.formation-item:hover {
    transform: translateY(-5px); /* Effet de survol */
}

.formation-item i {
    color: #945ea2; /* Couleur de l'icône */
}

.formation-item h5 {
    font-size: 1.5rem; /* Taille de police pour le titre */
    color: #333; /* Couleur du texte */
    margin-top: 10px; /* Espacement en haut */
    font-weight: 600;
}

.formation-item p {
    font-size: 1rem; /* Taille de police pour le texte */
    color: #666; /* Couleur de texte gris */
    margin: 0; /* Suppression de la marge par défaut */
}
#skills {
    background-color: #f9f9f9; /* Couleur de fond douce */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Ombre pour profondeur */
}

.skill-card {
    background-color: #e0cae0;
    padding: 20px; /* Espacement intérieur */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre pour profondeur */
    transition: transform 0.3s; /* Transition pour effet de survol */
    text-align: center; /* Centrer le contenu */
}

.skill-card:hover {
    transform: translateY(-5px); /* Effet de survol */
}

.skill-card i {
    color: #945ea2; /* Couleur de l'icône */
}

.skill-card h5 {
    font-size: 1.25rem; /* Taille de police pour le titre */
    color: #333; /* Couleur du texte */
    margin-top: 10px; /* Espacement en haut */
}



#about {
    background-color: #f8f9fa;
}

/* Card Image Wrapper for Overlay Effect */
.card-img-wrapper {
    position: relative;
    overflow: hidden;
}

.card-img-wrapper img {
    transition: transform 0.3s ease;
}

.card-img-wrapper:hover img {
    transform: scale(1.1);
}

/* Overlay Style */
.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card-img-wrapper:hover .card-overlay {
    opacity: 1;
}

/* Card Title in Overlay */
.card-overlay h5 {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

/* Styling for Project Card */
.project-card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-body {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 15px;

}


.card-body p {
    color: #333;
}
/* Styling for Experience Cards */
.experience-card {
    border: none;
    border-radius: 15px;
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.experience-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Styling for Card Titles and Text */
.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #666;
}
h2.mb-4 {
    font-weight: bold;
    padding: 10px;
}
h3.mb-3 {
    font-size:1.3rem ;
}
#para{
    padding-bottom: 25px;
}

/* Icon Styling */
.experience-icon {
    text-align: center;
    margin-bottom: 15px;
    color: #945ea2; /* Violet pastel */
}

.experience-icon i {
    font-size: 3rem;
}
#experiences{
    background-color: #e0cae0;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .experience-card {
        margin-bottom: 20px;
    }
    #home p {
        margin-left : 20px;
        margin-right: 20px;
    
    }
}

#contact a {
    margin-right: 10px;
}
#contact{
    background-color: #e0cae0;

}

 /* Styles pour le footer */
 footer {
    text-align: center; /* Centre le texte */
    font-size: 0.8rem; /* Réduit la taille de la police */
    position: relative; /* Assure que le footer est en bas de la page */
    bottom: 0; /* Aligne le footer en bas */
    width: 100%; /* Prend toute la largeur */
    background-color: #e0cae0;

}